{% extends 'base.html' %}

    {% block content %}
        <div style="display: flex; align-items: center; justify-content: center; height: 70vh; text-align: center; margin-top: 1cm; margin-bottom: 1cm; width: 75%; margin: 0 auto;">
            <div>
                <h1>Bienvenido</h1>
                <h2>Trabajo para el desafio tecnico</h2>
                <h2>Empresa "SmartUp"</h2>
                <p>Ejecutor:</p> <h2>Ion Cucer</h2>
                <h2>Estoy emocionado de compartir mi trabajo con ustedes</h2>
                <h2>Espero que lo disfruten</h2>
                <a href="/app/question">Puedes hacer tus preguntas aca</a>
                <br>
                <a href="https://openai.com/" target="_blank">OpenAI</a>
            </div>
        </div>
    {% endblock %}